streamlit
langchain
python-dotenv
langchain_community
langchain_core
langchain-groq
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain_text_splitters
chromabd
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
